<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>BDO webpalvelin</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>TODO: Better timer</div>
        <div id="timers">
            <p th:each="timer: ${timers}" th:text="${timer.name}"></p>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="javascript/bosstimerlist.js"></script>
    </body>
</html>
